---
import Java from "./icons/Java.astro"
import Spring from "./icons/Spring.astro"
import LinkButton from "./LinkButton.astro"
import Link from "./icons/Link.astro"
import GithubIcon from "./icons/GithubIcon.astro"

const TAGS = {
  JAVA: {
    name: "Java",
    class: "bg-black text-white",
    icon: Java, 
  },

  SPRING: {
    name: "Spring Boot",
    class: "bg-green-800 text-white",
    icon: Spring,
  },
}
const PROJECTS = [
  {
    title: "Biblioteca Ucompensar",
    description:"Programa para el registro y manejo de la biblioteca por consola, con las funciones de agregar, actualizar, eliminar, buscar y ordenar libros.",
    link: "https://github.com/MAFLIXD/Biblioteca",
    github: "https://github.com/MAFLIXD/Biblioteca",
    image: "/public/projects/svgl.webp",
    tags: [TAGS.JAVA, TAGS.SPRING],
  },

  {
    title: "Api de Peliculas",
    description:"Programa para consultar calificaciones, filtrar y buscar peliculas mediante una Api",
    link: "https://github.com/MAFLIXD/Java-Api-movies",
    github: "https://github.com/MAFLIXD/Java-Api-movies",
    image: "/public/projects/svgl2.webp",
    tags: [TAGS.JAVA, TAGS.SPRING],
  },
]  
---
<div class="flex flex-col gap-y-16">
{
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Captura del proyecto" 
      class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" 
      loading="lazy" 
      src={image} /> 
    </div>
  </div> 

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-4px ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

    <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>    
    <footer class="flex items-end justify-start mt-4 gap-x-4">
        {github && (
            <LinkButton href={github}>
              <GithubIcon class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
  </div>
  </div>
</article>
    ))
  }
</div>      